body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.contract, .existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  flex: 1;
  width: 600px;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: gold;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

.pagination button {
  margin-left: 15px;
  margin-right: 15px;
}

.button-disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
}